node_modules/
.env
*.zip
quick_start.sh

# dist
dist/
dist/**

# local database
mongod
data/

# backups
*~

# sourcemaps
*.map

# logs
*.log

#From make build_dev
public/static/bundle.js
public/static/vendors.js
public/static/style.css
